*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
.box{
    box-sizing: content-box;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    align-items: center;
}
nav{
    width: 100%;
    height: 200px;
    position:  fixed;
    
}
nav a{
    text-decoration: none;
    color: #f3ebeb;
    font-family: 黑体;
    font-size: 14px;
    font-weight: 800;
}
.logo{
    width: 55px;
    height: 55px;
    background-image: url(../img/fbeed7d66eee342415f0f878ad187824.png);
    background-position: 0px -20px;
    background-size:60px;
    font-size: 0;
}

.box2{
    /* box-sizing: content-box;
    display: flex; */
    width: 500px;
    height: 100px;
    margin: 0 auto;
    text-decoration: none;
}
footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
footer .box2 {
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}